TTD
Logs
/install/pathdef.m
/install/javaclasspath.txt
products/mxberryplus/+mxberry/+pcalcalt/javaclasspath.txt
products/mxberryplus/+mxberry/+pcalcalt/pathdef.txt
products/mxberryplus/+mxberry/+db/+inmem/+storage/@DiskBasedRelationStorage/*/*.mat
/install/matlab_cmwin_output.log
/mxberry-core-*.bat
*.asv
*.log
/automation/cron
/automation/logs
/automation/test-xml-reports
/automation/*.sh.save
*~
/install/*.txt
products/mxberry-core/+mxberry/+test/+conf/confrepo/*
!products/mxberry-core/+mxberry/+test/+conf/confrepo/_templates
